apiVersion: v1
data:
  config: |+
    [Global]
    secret-name = "vsphere-creds"
    secret-namespace = "kube-system"
    insecure-flag = "1"

    [VirtualCenter "{{ vcenter.hostname }}"]
    port = "443"
    datacenters = "{{ vcenter.datacenter }}"

    [Workspace]
    server = "{{ vcenter.hostname }}"
    datacenter = "UC2"
    default-datastore = "/{{ vcenter.datacenter }}/datastore/{{ vcenter.datastore }}"
    folder = "/{{ vcenter.datacenter }}/vm/{{ vcenter.folder }}"

kind: ConfigMap
metadata:
  name: cloud-provider-config
  namespace: openshift-config
