apiVersion: v1
data:
  config: |
    [Global]
    secret-name=vsphere-creds
    secret-namespace=kube-system
    insecure-flag=1

    [Workspace]
    server={{ vcenter.hostname }}
    datacenter={{ vcenter.datacenter }}
    default-datastore=/{{ vcenter.datacenter }}/datastore/{{ vcenter.datastore }}
    folder=/{{ vcenter.datacenter }}/vm/{{ vcenter.folder }}
    resourcepool-path=/{{ vcenter.datacenter }}/host/{{ vcenter.cluster }}/Resources

    [VirtualCenter "{{ vcenter.hostname }}"]
    datacenters={{ vcenter.datacenter }}
kind: ConfigMap
metadata:
  name: cloud-provider-config
  namespace: openshift-config
