apiVersion: v1
data:
  {{ vcenter.hostname }}.password: "{{ vcenter_password | ansible.builtin.b64encode }}"
  {{ vcenter.hostname }}.username: "{{ vcenter_username | ansible.builtin.b64encode }}"
kind: Secret
metadata:
  annotations:
    cloudcredential.openshift.io/credentials-request: openshift-cloud-credential-operator/openshift-vmware-vsphere-csi-driver-operator
  labels:
    cloudcredential.openshift.io/credentials-request: "true"
  name: vmware-vsphere-cloud-credentials
  namespace: openshift-cluster-csi-drivers
type: Opaque
